# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
/staticfiles/
media/

# Virtualenv
venv/
.env/

# Node / frontend
node_modules/
dist/
build/

# Celery
celerybeat-schedule
celerybeat.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
